 /* Necessary for full page carousel*/
html,
body {
height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
height: 100%;
}
.carousel-inner {
height: 100%;
}

.item {
    height: 500px;
}

#header {
    text-align: center;
}

body {
    background-color: red;
}

#mainheader {
    top: 0.1%;
    background: linear-gradient(to right,#80ab09 10%, #ebe83f 50%, #d47013 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
}

/* Text animation */
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/* Arranging text/pictures */
#slide1text {
    top: 25%;
    font-size: 25px;
}

#slide2text {
    top: 28%;
    font-size: 20px;
}

#slide2pic1 {
    top: 0.1%;
    left: 5%;
}

#slide2pic2 {
    top: 55%;
    left: 83%;
}

#slide3text {
    top: 20%;
    font-size: 19px;
}

#slide3pic1 {
    top: 26%;
    left: 11%;
}

#slide3pic2 {
    top: 26%;
    left: 73%;
}

#slide4text {
    top: 25%;
    font-size: 25px;
}

#slide4pic1 {
    top: 0.1%;
    left: 5%;
}

#slide4pic2 {
    top: 0.1%;
    left: 80%;
}

#slide5text {
    top: 22%;
    font-size: 25px;
}

#slide5pic1 {
    top: 42%;
    left: 11%;
}

#slide5pic2 {
    top: 42%;
    left: 73%;
}

#slide6text {
    top: 22%;
    font-size: 25px;
}

#slide6pic1 {
    top: 2%;
    left: 10%;
}

#slide6pic2 {
    top: 2%;
    left: 70%;
}

/* Slide 6 text animations */
.neon {
    font-family: neon;
    color: #FB4264;
    font-size: 50px;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
}

/* Button */
.btn {
    height: 47px;
}