 /* Necessary for full page carousel*/
html,
body {
height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
height: 100%;
}
.carousel-inner {
height: 100%;
}

.item {
    height: 500px;
}

#header {
    text-align: center;
}

body {
    background-color: red;
}

#mainheader {
    top: 0.1%;
    background: linear-gradient(to right,#80ab09 10%, #ebe83f 50%, #d47013 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
}

/* Text animation */
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/* Arranging text/pictures */
#slide1text {
    top: 25%;
    font-size: 25px;
}

#slide2text {
    top: 28%;
    font-size: 20px;
}

#slide2pic1 {
    top: 0.1%;
    left: 2%;
    height: 220px;
    width: 220px;
}

#slide2pic2 {
    top: 55%;
    left: 79%;
    height: 220px;
    width: 220px;
}

#slide3text {
    top: 20%;
    font-size: 19px;
}

#slide3pic1 {
    top: 26%;
    left: 6%;
    width: 230px;
    height: 230px;
}

#slide3pic2 {
    top: 26%;
    left: 73%;
    width: 230px;
    height: 230px;
}

#slide4text {
    top: 25%;
    font-size: 25px;
}

#slide4pic1 {
    top: 0.1%;
    left: 2%;
    width: 200px;
    height: 200px;
}

#slide4pic2 {
    top: -8%;
    left: 73%;
    width: 270px;
    height: 270px;
}

#slide5text {
    top: 22%;
    font-size: 25px;
}

#slide5pic1 {
    top: 42%;
    left: 11%;
    width: 200px;
    height: 200px;
}

#slide5pic2 {
    top: 42%;
    left: 73%;
    width: 210px;
    height: 210px;
}

#slide6text {
    top: 22%;
    font-size: 25px;
}

#slide6pic1 {
    top: 2%;
    left: 3%;
    width: 270px;
    height: 270px;
}

#slide6pic2 {
    top: 2%;
    left: 70%;
    width: 270px;
    height: 270px;
}

/* Slide 6 text animations */
.neon {
    font-family: neon;
    color: #FB4264;
    font-size: 50px;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
}

/* Button */
.btn {
    height: 47px;
}

/* Web responsiveness */
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #slide2pic1 {
        top: 0.1%;
        left: 2%;
        height: 140px;
        width: 140px;
    }
    
    #slide2pic2 {
        top: 0.1%;
        left: 71%;
        height: 140px;
        width: 140px;
    }

    #slide3pic1 {
        top: 0.1%;
        left: 2%;
        width: 160px;
        height: 160px;
    }
    
    #slide3pic2 {
        top: 0.1%;
        left: 71%;
        width: 160px;
        height: 160px;
    }

    #slide4pic1 {
        top: 0.1%;
        left: 2%;
        width: 140px;
        height: 140px;
    }
    
    #slide4pic2 {
        top: -5%;
        left: 65%;
        width: 200px;
        height: 200px;
    }

    #slide5pic1 {
        top: 0.1%;
        left: 5%;
        width: 130px;
        height: 130px;
    }
    
    #slide5pic2 {
        top: 0.1%;
        left: 70%;
        width: 130px;
        height: 130px;
    }

    #slide6pic1 {
        top: 2%;
        left: 3%;
        width: 150px;
        height: 150px;
    }
    
    #slide6pic2 {
        top: 2%;
        left: 70%;
        width: 150px;
        height: 150px;
    }
}
  
/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    #slide2pic1 {
        top: 0.1%;
        left: 2%;
        height: 160px;
        width: 160px;
    }
    
    #slide2pic2 {
        top: 0.1%;
        left: 71%;
        height: 160px;
        width: 160px;
    }

    #slide3pic1 {
        top: -5%;
        left: 2%;
        width: 180px;
        height: 180px;
    }
    
    #slide3pic2 {
        top: -5%;
        left: 71%;
        width: 180px;
        height: 180px;
    }

    #slide4pic1 {
        top: 0.1%;
        left: 7%;
        width: 170px;
        height: 170px;
    }
    
    #slide4pic2 {
        top: -5%;
        left: 65%;
        width: 220px;
        height: 220px;
    }

    #slide5pic1 {
        top: 0.1%;
        left: 5%;
        width: 150px;
        height: 150px;
    }
    
    #slide5pic2 {
        top: 0.1%;
        left: 70%;
        width: 150px;
        height: 150px;
    }

    #slide6pic1 {
        top: 2%;
        left: 3%;
        width: 190px;
        height: 190px;
    }
    
    #slide6pic2 {
        top: 2%;
        left: 70%;
        width: 190px;
        height: 190px;
    }
}

/* Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #slide2pic1 {
        top: 0.1%;
        left: 2%;
        height: 180px;
        width: 180px;
    }
    
    #slide2pic2 {
        top: 0.1%;
        left: 71%;
        height: 180px;
        width: 180px;
    }

    #slide3pic1 {
        top: -5%;
        left: 2%;
        width: 180px;
        height: 180px;
    }
    
    #slide3pic2 {
        top: -5%;
        left: 71%;
        width: 180px;
        height: 180px;
    }

    #slide4pic1 {
        top: 0.1%;
        left: 7%;
        width: 170px;
        height: 170px;
    }
    
    #slide4pic2 {
        top: -5%;
        left: 65%;
        width: 220px;
        height: 220px;
    }

    #slide5pic1 {
        top: 0.1%;
        left: 5%;
        width: 170px;
        height: 170px;
    }
    
    #slide5pic2 {
        top: 0.1%;
        left: 70%;
        width: 170px;
        height: 170px;
    }

    #slide6pic1 {
        top: 2%;
        left: 3%;
        width: 205px;
        height: 205px;
    }
    
    #slide6pic2 {
        top: 2%;
        left: 70%;
        width: 205px;
        height: 205px;
    }
} 