body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5b43f994-9aa9-440b-b5ba-215847ef12d0/d2j98ao-ddb75044-e751-4626-bb6a-278568177ae4.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNWI0M2Y5OTQtOWFhOS00NDBiLWI1YmEtMjE1ODQ3ZWYxMmQwXC9kMmo5OGFvLWRkYjc1MDQ0LWU3NTEtNDYyNi1iYjZhLTI3ODU2ODE3N2FlNC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.1SNicRPI1DttASy8qb4gJMWsh85mp_MO4liRwaTP82k");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

img.picture1 {
  width:30px;
  height:30px;
  float: left; 
  margin: 0 10px 10px 0;
}

/* Picture Slider Pictures */
img.d-block {
  width:450px;
  height:340px;
}

/* Top Card */
.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
   
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top:20px;
}

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}

.carousel-indicators .active {
  background-color: white;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

.btn {
margin-top: auto;
transition: 2s;
}
